@import "@/assets/styles/variables.scss";

.link {
  color: $gray;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover, &:focus {
    color: $gray4;
  }

  &-primary {
    color: $blue;

    &:hover, &:focus {
      color: $blue2;
    }
  }
}
